<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include("../fragmente/head.ejs") %>
        <title>BBallStore</title>
        <meta name="keywords" content="BBallStore, articole sportive, baschet, incaltaminte, pantaloni, tricou, jersey, accesorii, minge, genunchiere, cotiere, sosete, Nike, Adidas, Under Armour, Anta, Reebok, Puma, transport la domiciliu, Bucuresti">
        <meta name="description" content="BBallStore ofera articole de baschet de cea mai buna calitate la pret bun. Avem produse Nike, Adidas, Under Armour. Livrare la domiciliu.">
    </head>
    <body>
        <%- include("../fragmente/header.ejs") %>
        <main>  
            <div id="grid-pagina">
                <section id="prezentare">
                    <h2>Bine ati venit!</h2>
                    <p>Ip: <%-locals.ip%></p>
                    <p>Va multumim ca ati ales site-ul BBallStore pentru a va achizitiona articolele de baschet!</p>
                    <q>I've failed over and over and over again in my life. And that is why I succeed.</q> - Michael Jordan<br/>
                    <a target="_blank" href="https://www.google.com" class="slider-button">Google</a><br/>
                    <details>
                        <summary>Putem face livrare la domiciliu?</summary>
                        <p>Desigur!</p>
                    </details>
                    <figure>
                        <picture id="poza1">
                            <source srcset="/resurse/imagini/bb3.jpg" media="(max-width:700px)"/>
                            <source srcset="/resurse/imagini/bb2.jpg" media="(max-width:1000px)"/>
                            <img class="minge" src="/resurse/imagini/bb1.jpg" alt="minge" title="Basketball"/>
                        </picture>
                        <figcaption>Minge de baschet</figcaption>
                    </figure>
                </section>
                <section id="tabel">
                    <div id="tabelorar">
                        Tabel Orar
                        <table id="tab-orar">
                            <thead>
                                <tr>
                                    <th>Perioadă</th>
                                    <th>Zi</th>
                                    <th>Interval dimineata</th>
                                    <th>Interval pauza</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="5">Zile<br/>Lucrătoare</td>
                                    <td>Luni</td>
                                    <td>9-22</td>
                                    <td>13-14</td>
                                </tr>
                                <tr>

                                    <td>Marti</td>
                                    <td>9-22</td>
                                    <td>13-14</td>
                                </tr>
                                <tr>
                                    <td>Miercuri</td>
                                    <td>9-22</td>
                                    <td>13-14</td>
                                </tr>
                                <tr>
                                    <td>Joi</td>
                                    <td>9-22</td>
                                    <td>13-14</td>
                                </tr>
                                <tr>
                                    <td>Vineri</td>
                                    <td>9-21</td>
                                    <td>13-14</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Weekend</td>
                                    <td>Sambata</td>
                                    <td>10-20</td>
                                    <td>12-13</td>
                                </tr>
                                <tr>
                                    <td>Duminica</td>
                                    <td>10-19</td>
                                    <td>12-13</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr><td colspan="4">Programul poate oricand sa sufere modificari!</td></tr>
                            </tfoot>
                        </table>
                    </div>
                </section>
                <section id="diverse">
                    <ul>
                        <li><b>BBallStore</b> este un magazin, fizic sau online, de articole sportive de baschet, fondat in anul 2024.</li>
                        <li>Magazinul contine incaltaminte, pantaloni, tricouri, <i>jersey-uri</i> si accesorii precum: minge, genunchiere, cotiere, sosete, toate fiind de specialitate. Cateva dintre firmele prezente in depozitul nostru sunt: Nike, Adidas, Under Armour, Anta, Reebok, Puma si nu numai.</li>
                        <li>Acest magazin are o locatie in Bucuresti si ofera atat optiunea de a prelua articolele fizic, cat si <strong>transport la domiciliu</strong> oriunde in tara.</li>
                        <li><em>Totul despre excelenta!</em></li>
                    </ul>
                    <div class="container-iframe">
                        <div class="taburi-iframe">
                            <a class="tab1" href="https://www.youtube.com/embed/_Q8obt4xuEw?si=AuDEZQMO1gJPluSN" target="ifr-v1">Video 1</a>
                            <a class="tab2" href="https://www.youtube-nocookie.com/embed/mtIdBf_e1NM?si=PKCMAleGLSnw2lQ6" target="ifr-v1">Video 2</a>
                        </div>
                        <iframe class="video-iframe" name="ifr-v1" width="560" height="315" src="https://www.youtube-nocookie.com/embed/mtIdBf_e1NM?si=PKCMAleGLSnw2lQ6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <h2>Promotii</h2>
                        <h3>Oferte</h3>
                        <p>Mai jos puteti vedea articolele ce prezinta oferte de la <s>20% reducere</s><ins>30% reducere</ins>.</p>
                        <h3>Super oferte</h3>
                        <p>Mai jos puteti vedea <abbr title="articole">art.</abbr> ce prezinta super oferte.</p>
                </section>
                <section id="calendar">
                    Calendar Evenimente<br>
                    Lorem ipsum
                </section>
                <section id="anunturi">
                    Anunturi<br>
                    Lorem ipsum
                </section>
                <section id="lista">
                    Lista utilizatori<br>
                    Lorem ipsum
                </section>
                <section id="dateu">
                    Date despre utilizatori<br>
                    Lorem ipsum
                </section>
                <section id="dates">
                    Date despre site si server<br>
                    Lorem ipsum
                </section>
            </div>
        </main>
        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>