.dark {
  --culoare-portocaliu:rgb(90, 36, 0);
  --culoare-rosu:rgb(113, 2, 2);
  --culoare-galben:rgb(236, 166, 25);
  --culoare-negru:rgb(0, 0, 0);
  --culoare-alb: rgb(255, 255, 255);
  --culoare-mov: rgb(83, 1, 119);
}

body{
  --culoare-portocaliu:rgb(230, 118, 42);
  --culoare-rosu:rgb(227, 65, 65);
  --culoare-galben:rgb(243, 217, 49);
  --culoare-negru:rgb(0, 0, 0);
  --culoare-alb: rgb(255, 255, 255);
  --culoare-mov: rgb(138, 71, 237);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 5px;
  bottom: 3px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider i {
  color: yellow;
}
#idarkth {
  position: absolute;
  left: 9px;
  top: 7px;
  font-size: 18px;
  transition: .4s;
}
input:checked + .slider {
  background-color: black;
}
input:checked + .switch {
  background-color: white;
}
input:checked + .slider:before {
  background-color: white;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
input:checked + .slider i {
  transform: translateX(26px);
  color: black;
}
.slider.round {
  border-radius: 30px;
}
.slider.round:before {
  border-radius: 50%;
}

#background-video{
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
}

#pagina-promo{
  color: var(--culoare-alb);
  padding-top: 250px;
  padding-bottom: 250px;
}

#hrgradient{
  height: 15px;
  background-image: linear-gradient(45deg, var(--culoare-rosu) 20%, transparent 20%, transparent 22%, var(--culoare-rosu) 22%, var(--culoare-rosu) 78%, transparent 78%, transparent 80%, var(--culoare-rosu) 80%);
  border: none;
}

#imagineduotone{
	position: relative;
	background-image: url("../imagini/pozaduotone.png");
	background-size: cover;
	width: 500px; 
	height: 300px;
	filter: grayscale(0);
	transition: all 2s linear;
  overflow: hidden;
}
#imagineduotone:after, #imagineduotone:before{
	content: " ";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	transition: all 1s linear;
}
#imagineduotone:after{
	background-color: var(--culoare-rosu);
	mix-blend-mode: lighten;
  left: -100%;
}
#imagineduotone:before{
	background-color: var(--culoare-mov);
	mix-blend-mode: darken;
  right: -100%
}
#imagineduotone:hover:after{
  left: 0;
}
#imagineduotone:hover:before{
  right: 0;
}

#reflexie {
  position: relative;
	left: 0;
	top: 0;
	transform-origin: 0 0;
	transform: rotateX(180deg) skew(-50deg) scaleY(0.6) translate(21px,-5px); 
	opacity: 0.55;
  background: repeating-linear-gradient(var(--culoare-negru), var(--culoare-negru) 10%, transparent 30%);
  background-size: 100% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animatievaluri 0.5s infinite linear;
  animation-play-state: paused;
}
@keyframes animatievaluri {
  0% {
    background: repeating-linear-gradient(var(--culoare-negru), var(--culoare-negru) 40%, transparent 60%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  33%{
    background: repeating-linear-gradient(var(--culoare-negru), var(--culoare-negru) 30%, transparent 50%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  67%{
    background: repeating-linear-gradient(var(--culoare-negru), var(--culoare-negru) 20%, transparent 40%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  100% {
    background: repeating-linear-gradient(var(--culoare-negru), var(--culoare-negru) 10%, transparent 30%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
#reflexie:hover{
  animation-play-state: running;
}

a:visited {
  color: var(--culoare-mov);
}
a:active {
  border: 1px solid var(--culoare-negru);
}
a:where(
  [href^="http"]
)::before {
  content: '⮳';
  font-size: 1.5em;
}
a:where([href^="http"]):hover:before {
  content: '⮳';
  font-size: 1.5em;
  color: var(--culoare-rosu);
}

.pataculoare{
  background-image: radial-gradient(closest-side, var(--culoare-rosu) 0%, var(--culoare-rosu) 40%, transparent 80%, transparent 100%);
  background-position: center;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 0% 0%;
  transition: all 0.7s ease-in;
}
.pataculoare:hover {
  background-size: 100% 100%;
}

#link-top{
  position: fixed;
  bottom: 0.7em;
  left: 0.7em;
  opacity: 0.5;
  width: 2.5rem;
  height: 2.5rem;
  box-sizing: border-box;
  border: 3px solid var(--culoare-negru);
  background: var(--culoare-alb);
  rotate: 45deg;
  transition: all 0.5s linear;
}
#link-top:hover{
  opacity:1;
  border: 3px solid var(--culoare-rosu);
  background: var(--culoare-galben);
}
#sageata{
  height: 3.4rem;
  display: inline-block;
  border-bottom: 1.5rem solid var(--culoare-negru);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-radius: 50%;
  transform: translateX(25%) translateY(-45%);
  rotate: -45deg;
  transition: all 0.5s linear;
}
#link-top:hover>#sageata{
  border-bottom: 1.5rem solid var(--culoare-alb);
}

#tab-orar{
  border-spacing: 0px;
  border-collapse: collapse;
  border: 5px solid var(--culoare-negru);
}
#tab-orar th, #tab-orar td{
  border: 1px solid var(--culoare-negru);
}
#tab-orar tr:hover{
  color: var(--culoare-rosu);
  background-color: var(--culoare-portocaliu);
  border: 5px solid var(--culoare-negru);
  transition: all 0.75s linear;
}
#tab-orar th:nth-child(2n+1){
  background-color: var(--culoare-rosu);
}
#tab-orar th:nth-child(2n){
  background-color: var(--culoare-portocaliu);
}

@media screen and (max-width:1200px){
  #tabelorar{
    overflow-x: auto;
    max-width: 250px;
  }
  .container-iframe{
    font-size: 0.7em;
  }
}

@media screen and (max-width:800px){
  #tabelorar{
    overflow-x: auto;
    max-width: 250px;
  }
  .container-iframe{
    font-size: 0.5em;
  }
}

.container-iframe{
  display: flex;
  flex-direction: row-reverse;
  width: 400px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid var(--culoare-rosu);
  border-radius: 2%;
}
.tab2{
  margin-top: 3.3em;
}
.taburi-iframe>a{
  font-size: 0.9em;
  display: flex;
  position: absolute;
  justify-content: flex-end;
  transition: all 0.5s linear;
  margin-left: 5px;
  border: 5px solid var(--culoare-rosu);
  border-radius: 00% 20% 20% 0%;
  background-color: var(--culoare-portocaliu);
  text-decoration: none;
  color: var(--culoare-negru);
  padding: 15px;
  width: 5%;
}
.taburi-iframe>a:hover{
  padding-left: 40px;
  background-color: var(--culoare-galben);
}