html{
    font-size: 1.2em;
    transition: all 1s linear;
}

#grid-pagina{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:"prezentare prezentare prezentare prezentare"
                        "prezentare prezentare prezentare prezentare"
                        "diverse diverse diverse diverse"
                        "diverse diverse diverse diverse"
                        "calendar tabel tabel anunturi"
                        "lista dateu dates dates";

}

#grid-pagina>*{
    border: 3px solid var(--culoare-negru);
    border-radius: 10px;
    background: var(--culoare-galben);
    padding: 10px;
}

#prezentare{
    grid-area: prezentare;
}

#diverse{
    grid-area: diverse;
}

#calendar{
    grid-area: calendar;
}

#tabel{
    grid-area: tabel;
}

#anunturi{
    grid-area: anunturi;
}

#lista{
    grid-area: lista;
}

#dateu{
    grid-area: dateu;
}

#dates{
    grid-area: dates;
}

@media screen and (max-width:1200px){
    html{
        font-size: 1em;
        transition: all 1s linear;
    }

    #grid-pagina{
        gap: 5px;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas:"prezentare prezentare prezentare"
                            "prezentare prezentare prezentare"
                            "diverse diverse diverse"
                            "diverse diverse diverse"
                            "calendar tabel anunturi"
                            "lista dateu dates";
    }
}

@media screen and (max-width:800px){
    html{
        font-size: 0.9em;
        transition: all 1s linear;
    }

    #grid-pagina{
        gap: 2px;
        grid-template-columns: repeat(1,1fr);
        grid-template-areas:"prezentare"
                            "diverse"
                            "calendar"
                            "tabel"
                            "anunturi"
                            "lista"
                            "dateu"
                            "dates";
    }
}

@media print{
    #grid-pagina{
        display:block;
    }
}