<footer>
    <a href="#" title="Inceputul Paginii" id="link-top"><div id="sageata"></div></a>
    <address>
        Adresa: Strada Academiei nr.14<br/>
        <a href="mailto:andrei_ghe2003@yahoo.ro"><i class="fa-solid fa-envelope"></i>Mail</a><br/>
        <a href="tel:+40761874291"><i class="fa-solid fa-phone"></i>Telefon</i></a><br/>
        <a href="skype:andreispiry?message"><i class="fa-brands fa-skype"></i>Skype</a><br/>
        <a href="https://www.google.com/maps/place/Faculty+of+Mathematics+and+Computer+Science/@44.4355393,26.0970118,17z/data=!3m1!4b1!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?entry=ttu" target="_blank"><i class="fa-solid fa-map-pin"></i>Maps</a>
    </address>
        <small>© Copyright <time datetime="2024-03-04">04 Martie 2024</time></small>
</footer>