<header>
    <h1>BBallStore <i class="fa-solid fa-basketball fa-bounce"></i></i></h1>
    <nav>
        <label id="hamburger" for="ch-menu">
            <img src="/resurse/imagini/hamburger_icon_alb.png" alt="Menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li>
                <a href="#prezentare">Acasa</a>
                <ul>
                    <li><a href="#diverse">Diverse</a></li>
                    <li><a href="#calendar">Calendar</a></li>
                    <li><a href="#tabel">Orar</a></li>
                    <li><a href="#anunturi">Anunturi</a></li>
                    <li><a href="#lista">Lista</a></li>
                    <li><a href="#dateu">Date1</a></li>
                    <li><a href="#dates">Date2</a></li>
                </ul>
            </li>
            <li>Incaltaminte</li>
            <li>Haine</li>
            <li>Accesorii</li>
            <li>Reduceri</li>
        </ul>
    </nav>
</header>