<header>
    <h1>BBallStore <i class="fa-solid fa-basketball fa-bounce"></i></i></h1>
    <button id="schimba_tema">Schimba tema</button>
    <script src="/resurse/js/tema.js"></script>
</header>
<nav>
    <label id="hamburger" for="ch-menu">
        <img src="/resurse/imagini/hamburger_icon_alb.png" alt="Menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li>
            <a href="/index#prezentare" id="acasabuton">Acasa</a><i class="fa-solid fa-house" id="casameniu"></i>
            <ul>
                <li><a href="/index#diverse">Diverse</a></li>
                <li><a href="/index#calendar">Calendar</a></li>
                <li><a href="/index#tabel">Orar</a></li>
                <li><a href="/index#anunturi">Anunturi</a></li>
                <li><a href="/index#lista">Date</a></li>
                <li><a href="/index#galerie-statica">Galerie</a></li>
            </ul>
        </li>
        <li><a href="/galerie">Galerie</a></li>
        <li><a href="/promotii">Promotii</a></li>
        <li>
            <a href="/produse">Produse</a>
            <ul>
                <li><a href="/produse/Incaltaminte">Incaltaminte</a></li>
                <li><a href="/produse/Pantaloni">Pantaloni</a></li>
                <li><a href="/produse/Tricouri">Tricouri</a></li>
                <li><a href="/produse/Jersey">Jersey</a></li>
                <li><a href="/produse/Accesorii">Accesorii</a></li>
                <li><a href="/produse/Minge">Minge</a></li>
            </ul>
        </li>
    </ul>
</nav>