<header>
    <h1>BBallStore <i class="fa-solid fa-basketball fa-bounce"></i></i></h1>
    <label class="switch">
        <input type="checkbox" id="schimba_tema">
        <span class="slider round"><i class="fas fa-sun" id="idarkth"></i></span>
    </label>
    <script src="/resurse/js/tema.js"></script>
</header>
<nav>
    <label id="hamburger" for="ch-menu">
        <img src="/resurse/imagini/hamburger_icon_alb.png" alt="Menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li>
            <a href="/index#prezentare" id="acasabuton">Acasa</a><i class="fa-solid fa-house" id="casameniu"></i>
            <ul>
                <li><a href="/index#diverse">Diverse</a></li>
                <li><a href="/index#calendar">Calendar</a></li>
                <li><a href="/index#tabel">Orar</a></li>
                <li><a href="/index#anunturi">Anunturi</a></li>
                <li><a href="/index#lista">Date</a></li>
                <li><a href="/index#galerie-statica">Galerie</a></li>
            </ul>
        </li>
        <li><a href="/inregistrare">Inregistrare</a></li>
        <li><a href="/galerie">Galerie</a></li>
        <li><a href="/promotii">Promotii</a></li>
        <li>
            <a href="/produse">Produse</a>
            <ul>
                <li><a href="/produse/Toate">Toate</a></li>
                <% for (let opt of locals.optiuniMeniu) { %>
                    <li><a href="/produse/<%- opt.unnest %>"><%- opt.unnest %></a></li>
                <% } %>
            </ul>
        </li>
        <li><a href="/cos-virtual">Cos</a></li>
        <li><a href="/contact">Contact</a></li>
        <%- include("submeniu-administrare.ejs") %>
        <%- include("submeniu-utilizator-logat.ejs") %>
    </ul>
</nav>